<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>
    <style>
    #main{
        margin-left: 100px;
        margin-top:20px;
        margin-bottom: 20px;
    }
    </style>
</head>

<body>
    <div id="main">
        <form action="" method="post">
            <table>
                <tr>
                    <td>标题：</td>
                    <td>
                        <input class="form-control" type="text" name="" id="">
                    </td>
                </tr>
                <tr>
                    <td>题目描述：</td>
                    <td>
                        <textarea class="form-control" name="" id="" cols="60" rows="8"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>输入格式：</td>
                    <td>
                        <textarea class="form-control" name="" id="" cols="60" rows="8"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>输出格式：</td>
                    <td>
                        <textarea class="form-control" name="" id="" cols="60" rows="8"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>输入示例：</td>
                    <td>
                        <textarea class="form-control" name="" id="" cols="60" rows="8"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>输出示例：</td>
                    <td>
                        <textarea class="form-control" name="" id="" cols="60" rows="8"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>时间限制：</td>
                    <td>
                        <input class="form-control" type="text" name="" id="">
                    </td>
                </tr>
                <tr>
                    <td>内存限制：</td>
                    <td>
                        <input class="form-control" type="text" name="" id="">
                    </td>
                </tr>
                <tr>
                    <td>所属比赛（练习）：</td>
                    <td>
                        <select class="form-control" name="" id="">
                            <option value="">第一届程序设计大赛</option>
                            <option value="">第二届程序设计大赛</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>测试数据：</td>
                    <td>
                        <input class="form-control" type="file" name="" id="">
                    </td>
                </tr>
                <tr><td colspan="2" style="text-align: center;"><button class="btn btn-primary">保存</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-danger">重置</button></td></tr>
            </table>
        </form>
    </div>
</body>

</html>