<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <style>
    #main{
        text-align:-webkit-center;
        margin-top:20px;
        margin-bottom: 20px;
    }
    </style>
</head>

<body>
    <div id="main">
        <form action="/sup_add_topic" enctype="multipart/form-data" method="post">
            <table>
                <tr>
                    <td>标题：</td>
                    <td>
                        <input class="form-control" type="text" name="title" id="title">
                    </td>
                </tr>
                <tr>
                	<td>类型：</td>
                	<td><input class="form-control" type="text" name="type" id="type"></td>
                </tr>
                <tr>
                    <td>题目描述：</td>
                    <td>
                        <textarea class="form-control" name="content" id="content" cols="60" rows="8"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>输入格式：</td>
                    <td>
                        <textarea class="form-control" name="input_intro" id="input_intro" cols="60" rows="8"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>输出格式：</td>
                    <td>
                        <textarea class="form-control" name="output_intro" id="output_intro" cols="60" rows="8"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>输入示例：</td>
                    <td>
                        <textarea class="form-control" name="input_sample" id="input_sample" cols="60" rows="8"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>输出示例：</td>
                    <td>
                        <textarea class="form-control" name="output_sample" id="output_sample" cols="60" rows="8"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>时间限制（s）：</td>
                    <td>
                        <input class="form-control" type="text" name="time_limit" id="time_limit">
                    </td>
                </tr>
                <tr>
                    <td>内存限制（MB）：</td>
                    <td>
                        <input class="form-control" type="text" name="memory_limit" id="memory_limit">
                    </td>
                </tr>
                <tr>
                	<td>数据范围、提示：</td>
                	<td><textarea class="form-control" name="info" id="info" cols="60" rows="8"></textarea></td>
                </tr>
                <tr>
                    <td>所属比赛（练习）：</td>
                    <td>
                        <select  class="form-control" name="competition_id" id="competition_id">
                        	<option value="">-请选择-</option>
                            <option th:each="competitionsOrPractice:${competitionsOrPractices}" th:value="${competitionsOrPractice.id}" th:text="${competitionsOrPractice.title}">第N次比赛</option>
                        </select>
                    </td>
                </tr>
                <tr>
                	<td>题目在比赛中的序号：</td>
                	<td><input class="form-control" type="text" name="number" id="number"></td>
                </tr>
                <tr>
                    <td>测试数据：</td>
                    <td>
                        <input class="form-control" type="file" name="test_data" id="test_data">
                    </td>
                </tr>
                <tr><td colspan="2" style="text-align: center;"><input type="submit" value="保存" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;<input type="reset" value="reset" class="btn btn-danger"></td></tr>
            </table>
        </form>
    </div>
</body>

</html>