<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/plugins/DataTables-1.10.16/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/plugins/DataTables-1.10.16/js/jquery.dataTables.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="/plugins/layer/layer.js"></script>
    <style>
        #top {
            width: 100%;
            height: 50px;
            ;
            /* background-color: rgb(163, 250, 76); */
            border-bottom: 1px solid #CCC;
            padding-top: 0.6%;
        }

        #new-competition {
            float: left;
            margin-left: 20px;
        }

        #top select {
            width: 100px;
            float: left;
            margin-left: 20px;
        }

        .small-icon {
            width: 15px;
            height: 15px;
        }

        #refresh {
            width: 45px;
            height: 38px;
            float: right;
            margin-right: 50px;
            border: none;
            background-color: white;
        }

        #refresh img {
            width: 100%;
            height: 100%;
        }
        #myTable td{
        	padding:6px;
        }
        .msg_style{
        	background-color:blue;
        }
    </style>
</head>

<body>
    <div id="top">
        <button id="new-competition" class="btn btn-primary">新建比赛</button>
        <select class="form-control" name="state" id="state">
            <option value="0">未发布</option>
            <a th:if="${state} eq '1'"><option selected="selected" value="1">未开始</option></a>
            <a th:unless="${state} eq '1'"><option value="1">未开始</option></a>
            <a th:if="${state} eq '2'"><option selected="selected" value="2">进行中</option></a>
            <a th:unless="${state} eq '2'"><option value="2">进行中</option></a>
            <a th:if="${state} eq '3'"><option selected="selected" value="3">已结束</option></a>
            <a th:unless="${state} eq '3'"><option value="3">已结束</option></a>
        </select>
        <button id="refresh">
            <a href="">
                <img src="imgs/refresh.png" alt="" title="刷新">
            </a>
        </button>
    </div>
    <div style="width: 90%;text-align: center;margin-left: 5%;margin-top: 1%;">
        <table id="myTable" class="display">
            <thead>
                <tr>
                    <th>比赛名称</th>
                    <th>创建人</th>
                    <th>创建时间</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr style="height:6%;" th:each="competition:${competitions}">
                    <td th:text="${competition.title}"></td>
                    <td th:text="${competition.handler_name}"></td>
                    <td th:text="${#dates.format(competition.time,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(competition.start_time,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td th:text="${#dates.format(competition.end_time,'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                    	<a th:if="${state} eq '0'"><img th:id="${competition.id}" th:competition_title="${competition.title}" th:state="${state}" class="small-icon edit" src="imgs/edit.png" alt="编辑" title="编辑"></a>
                        <a th:if="${state} eq '0'"><img th:id="${competition.id}" th:competition_title="${competition.title}" th:state="${state}" class="small-icon publish" src="imgs/publish.png" alt="发布" title="发布"></a>
                        <a th:if="${state} eq '1'"><img th:id="${competition.id}" th:competition_title="${competition.title}" th:state="${state}" class="small-icon undercarriage" src="imgs/undercarriage.png" alt="下线" title="下线"></a>
                        <a th:if="${state} eq '2'"><img th:id="${competition.id}" th:competition_title="${competition.title}" th:state="${state}" class="small-icon undercarriage" src="imgs/undercarriage.png" alt="下线" title="下线"></a>
                        <a th:if="${state} eq '3'"><img th:id="${competition.id}" th:competition_title="${competition.title}" th:state="${state}" class="small-icon reappear" src="imgs/reappear.png" alt="重现" title="重现"></a>
                        <img th:id="${competition.id}" th:competition_title="${competition.title}" th:state="${state}" class="small-icon delete" src="imgs/delete.png" alt="删除" title="删除">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script th:inline="javascript">
        $(document).ready(function () {
        	var msg=[[${msg}]];
        	if(msg!=null){
        		//信息提示框
        		layer.msg(msg);
        	}
            $('#myTable').DataTable({

                language: {
                    "sProcessing": "处理中...",
                    "sLengthMenu": "显示 _MENU_ 项结果",
                    "sZeroRecords": "没有匹配结果",
                    // "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
                    "sInfo": "显示第<span style='color:red;'> _START_ </span>至 <span style='color:red;'> _END_ </span>项结果，共 <span style='color:red;'> _TOTAL_ </span>项",
                    "sInfoEmpty": "显示第 <span style='color:red;'>0</span> 至 <span style='color:red;'>0</span> 项结果，共 <span style='color:red;'>0</span> 项",
                    "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
                    "sInfoPostFix": "",
                    "sSearch": "搜索:",
                    "sUrl": "",
                    "sEmptyTable": "表中数据为空",
                    "sLoadingRecords": "载入中...",
                    "sInfoThousands": ",",
                    "oPaginate": {
                        "sFirst": "首页",
                        "sPrevious": "上页",
                        "sNext": "下页",
                        "sLast": "末页"
                    },
                    "oAria": {
                        "sSortAscending": ": 以升序排列此列",
                        "sSortDescending": ": 以降序排列此列"
                    }
                }
            });
            //新建比赛，弹出一个iframe层
            $('#new-competition').on('click', function () {
                layer.open({
                    type: 2,
                    title: '新建比赛',
                    maxmin: false,
                    shadeClose: false, //点击遮罩关闭层
                    area: ['600px', '400px'],
                    content: '/sup_new_competition.html',
                    end:function(){
                    	location.reload();
                    }
                });
            });
            /*
            **编辑
            */
            $(".edit").on("click",function(){
            	var id=$(this).attr("id");//比赛id
            	layer.open({
                    type: 2,
                    title: '编辑比赛',
                    maxmin: false,
                    shadeClose: false, //点击遮罩关闭层
                    area: ['600px', '400px'],
                    content: '/sup_edit_competition.html?id='+id,
                    end:function(){
                    	location.reload();
                    }
                });
            });
            /*
            **发布
            */
            $(".publish").on("click",function(){
            	//确认框
            	if(confirm("确认要发布“"+$(this).attr("competition_title")+"”吗？")){
            		var id=$(this).attr("id");//比赛id
            		var state=$(this).attr("state");//传递当前页展示的比赛的状态参数，以便再次回到该页
                	location.href="/sup_publish_competition?id="+id+"&state="+state;
            	}
            });
            /*
            **下线
            */
            $(".undercarriage").on("click",function(){
            	//确认框
            	if(confirm("确认要将”"+$(this).attr("competition_title")+"下线吗？")){
            		var id=$(this).attr("id");//比赛id
            		var state=$(this).attr("state");//传递当前页展示的比赛的状态参数，以便再次回到该页
            		location.href="/sup_undercarriage_competition?id="+id+"&state="+state;
            	}
            });
            /*
             **删除
             */
            $(".delete").on("click",function(){
            	//确认框
            	if(confirm("确认要删除“"+$(this).attr("competition_title")+"”吗？（警告：将会把属于该比赛的题目一并删除！！！）")){
            		var id=$(this).attr("id");//比赛id
            		var state=$(this).attr("state");//传递当前页展示的比赛的状态参数，以便再次回到该页
            		location.href="/sup_delete_competition?id="+id+"&state="+state;
            	}
            });
            /*
            **重现
            */
            $(".reappear").on("click",function(){
            	//确认框
            	if(confirm("确认要重现“"+$(this).attr("competition_title")+"”吗？（将以练习形式发布）")){
            		var id=$(this).attr("id");//比赛id
            		var state=$(this).attr("state");//传递当前页展示的比赛的状态参数，以便再次回到该页
            		location.href="/sup_reappear_competition?id="+id+"&state="+state;
            	}
            });
            /*
            **切换不同状态比赛页
            */
            $("#state").on("change",function(){
            	var state=$(this).children('option:selected').val();
            	location.href="/sup_competition.html?state="+state;
            });
        });
    </script>
</body>

</html>