<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        #main {
            width: 90%;
            margin-left: 50px;
        }

        #main h2,
        h5 {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="main">
        <h2>素数</h2>
        <h5>时间限制：1s&nbsp;&nbsp;&nbsp;&nbsp;内存限制：5M</h5>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">
                    题目描述
                </h6>
            </div>
            <div class="panel-body">
                编写程序列出n以内的所有素数。编写程序列出n以内的所有素数。编写程序列出n以内的所有素数。 编写程序列出n以内的所有素数。编写程序列出n以内的所有素数。
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">
                    输入格式
                </h6>
            </div>
            <div class="panel-body">
                一个正整数n 一个正整数n 一个正整数n 一个正整数n 一个正整数n 一个正整数n 一个正整数n
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">
                    输出格式
                </h6>
            </div>
            <div class="panel-body">
                若干个正整数 若干个正整数 若干个正整数 若干个正整数 若干个正整数
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">
                    输入示例
                </h6>
            </div>
            <div class="panel-body">
                5
            </div>
        </div>
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">
                    输出示例
                </h6>
            </div>
            <div class="panel-body">
                1 2 3 5
            </div>
        </div>
        <!-- 额外的。。。。。 -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h6 class="panel-title">
                    提交代码
                </h6>
            </div>
            <div class="panel-body">
                <textarea class="form-control" name="" id="" cols="60" rows="15"></textarea><br>
                <input type="radio" name="orgin" checked="checked" id="">C  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="orgin" id="">C++   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="orgin" id="">JAVA <br><br>
                <button class="btn btn-success">提交</button><br>
            </div>
        </div>

        <!-- 额外的。。。。。 -->
    </div>
</body>

</html>