<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
    <style>
    .top{
    	margin-top:180px;
    }
    </style>
</head>
<body>
	<div class="top" style="text-align: -webkit-center;">
		<h2>普通用户</h2>
		<br>
		<form action="/user/index" method="post" onsubmit="return check();">
			<table>
				<tr>
					<td><input class="form-control" style="width:250px;" type="text" name="account" id="account" placeholder="账号"></td>

				</tr>
				<tr>
				<td>&nbsp;</td>
				</tr>
				<tr>
					<td><input class="form-control" style="width:250px;" type="password" name="password" id="password" placeholder="密码"></td>
				</tr>
				<tr>
				<td>&nbsp;</td>
				</tr>
				<tr>
					<td><input class="btn btn-primary" style="width:250px;" type="submit" value="提交"></td>
				</tr>
			</table>
		</form>
		<div th:text="${msg}"></div>
	</div>
	<script>
	function check(){
		if($("#account").val()==null||$("#account").val()==""){
			alert("账号不能为空！");
			return false;
		}
		if($("#password").val()==null||$("#password").val()==""){
			alert("密码不能为空！");
			return false;
		}
		return true;
	}
	</script>
</body>
</html>